/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/
.header_booki{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.header_booki img {
    width: 61.09px;
    height: 19px;
}

.nav_text_hebergement, .nav_text_activites {
    display: inline-block;
    position: relative;
    padding-top: 5px; /* Ajuste le padding pour éviter que le texte ne se décale */
    text-align: center;
}

.nav_text_hebergement {
    margin-right: 80px; /* Ajoute une marge à droite uniquement pour le premier lien */
}

.nav_text_hebergement::before, .nav_text_activites::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%; /* Positionne le trait au-dessus du texte */
    border-top: 2px solid var(--main-color);
    color: var(--main-color); /* Ajuste l'épaisseur et la couleur du trait */
    visibility: hidden; /* Cache le trait initialement */
}

.nav_text_hebergement:hover, .nav_text_activites:hover {
    color: var(--main-color); /* Change la couleur du texte au survol (rouge) */
}

.nav_text_hebergement:hover::before, .nav_text_activites:hover::before {
    visibility: visible; /* Montre le trait au survol */
    width: 100%; /* Ajuste la largeur du trait pour qu'il corresponde au texte */
}


.title h1{
    font-size: 24px; 
    margin-top: 70px;
    margin-bottom: 1px;
    width: 1340px;
    height: 26px;
    gap: 0px;

}

/****** search bar *****/

.search_bar{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.search_bar i {
    display: flex;
    justify-content :center;
    align-items: center;
    width: 50px; 
    height: 49px; 
    border : 1px;
    border-radius:15px 0px 0px 15px; 
    background-color: #F2F2F2;
    color: black;

}
.search_bar input {
    border: 1px solid;
    border-color:var(--main-bg-color) ;
    
}
.search_bar button {
    width: 132px; 
    height: 49px; 
    background-color: var(--main-color);
    font-size: 18px ;
    font-weight: 700;
    border : 1px;
    color: #ffffff;
    border-radius:0px 15px 15px 0px;

}
.filters_sections{
    display :flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;

}

.filter_button{
    width: Hug(173px);
    height: 50px;
    padding: 4px 19px 4px 19px;
    gap: 10px;
    border-radius: 25px 25px 25px 25px;
    border: 2px solid var(--main-bg-color);
    background-color: white;
    color: black;
    display:  flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 17px;
    margin-left: 17px;
}

.filter_button:hover {
    background-color: #DEEBFF;
}
.filter_button span{
    font-size: 19px;
    font-weight: 700;
    line-height: 19.96px;
    text-align: left;
}
.filter_button i{
    display:  flex;
    justify-content: center;
    align-items: center; 
    font-size: large;  
}
.filter_button h2{
    margin-bottom: 100px;
}

.number_info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.number_info i{
    margin-right: 10px;
    border-radius: 50%;
    color: var(--main-color);
    border: 1px solid var(--main-bg-color);
    width: 24px;
    height: 24px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}
 
/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
.hebergements .afficher{
    font-size: 18px;
    font-weight: 700;
    line-height: 25.83px;
    text-align: left;


}
.hebergements-title {
    margin-bottom: 33px;
    margin-top: 2px;
}

.herbergement_card {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 250.33px 250.33px 250.33px;

}

.herbergement_card .card {
    width: 250.33px;
    height: 207.25px;
    padding : 5px 5px 5px 5px;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 20px;
    
}

.herbergement_card  .card img {
    width: 250.33px;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    border: 5px;

}

.herbergement_card  .card_text h3 {
    margin-bottom: 4px;
    margin-top: 0px;
}

.herbergement_card .card_text p {
    margin : 1px;
}

.herbergement_card .card-rating {
    margin-bottom: 5px;
    margin-top: 2px;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** activité à marseille ***********/

.activite {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}
.activite-title {
    margin-top: 70px;
}
.activite-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.activite-card .card{
    width: 297.5px;
    height: 439px;
    border-radius: 20px 20px 20px 20px;

}
.activite-card .card img{
    width: 297.5px;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
}


/****** footer******/ 

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    margin-bottom: 0px;

}
.footer-content{
    width: 446.67px;
    height: 163px;
}

.footer-content h2{
    margin-left: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 25.83px;
}

.footer-list li{
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    text-align: left;

}
.footer-list{
    list-style-type: none;
    padding-left: 20px;
    padding-top: 0px;
}